

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


body{
    background-color: black;
    color: white;
}

footer{
    display: block;
    text-align: center;
    padding: 3px;
    background-color: #303030;
    color: gray;
    position: static;
    box-shadow: 0px 10px 10px rgb(22, 22, 22) inset;
}

/*tabs system*/
.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid white;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px 10px 0px 0px;
}

.tab.active {
    background-color: grey;
}

.tab:hover {
    background-color: darkgray;
}

/*image change*/
img.pixel{
    image-rendering: pixelated;
}