

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


body{
    background-color: black;
    color: white;
}

footer{
    display: none;
}

footer{
    display: block;
    text-align: center;
    padding: 3px;
    background-color: black;
    color: gray;
}


.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid white;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
}

.tab.active {
    background-color: grey;
}

.tab:hover {
    background-color: darkgray;
}
